includes:

parameters:
    excludePaths:

    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: true

    ignoreErrors:

    parallel:
        processTimeout: 3000.0
        maximumNumberOfProcesses: 6
